<ion-view class="app-tabbed-view">
  <ion-pane>
    <ion-tabs class="tabbed-navigation tabs-icon-top tab-shadow-top bottom-tabs">
      <ion-tab title="{{ 'PROFILE_TAB' | translate }}" icon-off="account-icon" icon-on="account-icon" ui-sref="main.app.account">
        <ion-nav-view name="app-account"></ion-nav-view>
      </ion-tab>
      <ion-tab title="{{ 'HOME_TAB' | translate }}" icon-off="feed-icon" icon-on="feed-icon" ui-sref="main.app.feed.fashion">
        <ion-nav-view name="app-feed"></ion-nav-view>
      </ion-tab>
      <!-- <ion-tab title="Search" icon-off="search-icon" icon-on="search-icon" ui-sref="main.app.search">
        <ion-nav-view name="app-search"></ion-nav-view>
      </ion-tab>-->
      <ion-tab title="{{ 'SHOWROOMS_TAB' | translate }}" icon-off="liked-icon" icon-on="liked-icon" ui-sref="main.app.showrooms">
        <ion-nav-view name="app-showrooms"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>
