$fashion-content-bg: #F8F8F8;
$fashion-content-color: #f3f3f3;
$fashion-content-header-bg: #f3f3f3;
$fashion-content-header-color: #4a4a4a;
$fashion-content-images-slider-height: 260px;
$fashion-content-images-slider-padding: 15px;
$fashion-content-images-slider-pager-color: #C9C9C9;
$fashion-content-images-slider-pager-bg: #F8F8F8;

$fashion-content-store-color: #4a4a4a;
$fashion-content-options-buttons-bg: #FFF;
$fashion-content-purchase-button-bg: #ff8b81;
$fashion-content-purchase-button-color: #FFF;

$fashion-content-description-color: #9B9B9B;

$fashion-content-popup-header-bg: #C9C9C9;
$fashion-content-popup-header-color: #9B9B9B;

$fashion-content-popup-options-color: #9B9B9B;
$fashion-content-popup-options-bg: #FFF;
$fashion-content-popup-options-border: #C9C9C9;
$fashion-content-popup-options-check-default-color: #ffa79f;

$fashion-content-multi-bg: rgba(darken(#F8F8F8, 10), .25);
