$feed-bg: #F8F8F8;
$feed-header-bg: #ea6069;

$feed-header-bg-gradient-top: #fd5464;
$feed-header-bg-gradient-bottom: #eb5f69;
$sliding-categories-height: 40px;
$cart-button-height: 25px;

$cart-badge-bg: #c1d31b;
$cart-badge-color: #FFF;
$try-cart-badge-bg: #c1d31b;
$try-cart-badge-color: #FFF;
$categories-default-bg: #ff8b81;
$fashion-bg: #F8F8F8;
$food-bg: #f3f3f3;
$travel-bg: #ffcf4e;
$deals-bg: #7ae27a;
$real-state-bg: #5bd3f9;

$sort-and-filters-color: #9B9B9B;
$sort-and-filters-icon-color: #ff8b81;
