$filters-bg: #C9C9C9;
$filters-header-bg: #F3F3F3;
$filters-header-color: #4A4A4A;
$filters-tabs-bg: #FFF;
$filters-tabs-height: 75px;
$filters-tabs-selected-bg: #4A4A4A;
$filters-tabs-divider: #C9C9C9;
$filters-tabs-color: #9B9B9B;
$filters-tabs-selected-color: #FFF;

$number-filters-bg: #FFF;
$number-filters-color: #9B9B9B;
$number-filters-quantity-color: #c1d31b;

$filter-group-bg: #FFF;
$filter-group-color: #9B9B9B;
$filter-group-active-color: #c1d31b;
$filter-group-border: #C9C9C9;

$filter-group-alt-divider-border: #4A4A4A;
$filter-group-alt-border: #C9C9C9;
$filter-group-alt-bg: #F3F3F3;
$filter-group-alt-option-bg: #4A4A4A;

$tag-filter-active-color: #FFF;
$tag-filter-active-bg: #c1d31b;
$tag-filter-item-height: 30px;

$size-filter-color: #9B9B9B;
$size-filter-bg: #F3F3F3;
$size-filter-border: #4A4A4A;
$size-filter-active-color: #FFF;
$size-filter-active-bg: #c1d31b;
$size-filter-item-height: 30px;

$color-filter-active-border: #9B9B9B;

$slider-filter-thumb-bg: #c1d31b;
$slider-filter-line-bg: #9B9B9B;
$slider-filter-line-active-bg: #c1d31b;
$slider-filter-thumb-size: 22px;
