<ion-view class="learn-view" >
  <ion-content class="learn-content" has-bouncing="false">
    <div class="row slides-row">
      <div class="col">
        <ion-slide-box class="learn-slider" ng-class="{'hide-pager':show_call_to_action_button}" show-pager="true" delegate-handle="getting-started-slides" pager-click="pagerClicked(index)" on-slide-changed="slideChanged($index)">
          <ion-slide>
            <section class="slide-learn learn-sub-view" style="min-height:100%" ng-include="'views/components/walkthrough/slide-1.tpl.html'"></section>
          </ion-slide>
          <ion-slide>
            <section class="slide-learn learn-sub-view" style="min-height:100%" ng-include="'views/components/walkthrough/slide-2.tpl.html'"></section>
          </ion-slide>
          <ion-slide>
            <section class="slide-learn learn-sub-view" style="min-height:100%" ng-include="'views/components/walkthrough/slide-3.tpl.html'"></section>
          </ion-slide>
          <ion-slide>
            <section class="slide-learn learn-sub-view" style="min-height:100%" ng-include="'views/components/walkthrough/slide-4.tpl.html'"></section>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row actions-row" ng-show="show_call_to_action_button">
      <div class="col">
        <a class="button button-full action-button" ui-sref="intro.auth-signup()">SIGN UP</a>
      </div>
    </div>
  </ion-content>
</ion-view>
